In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from time import sleep
from random import randint

In [2]:
headers = {"Accept-Language":"en-US,en;q=0.5"}

In [3]:
movie_name = []
year = []
time = []
rating =[]
metascore = []
votes = []
gross = []

In [4]:
pages = np.arange(1,1000,100)

In [5]:
for page in pages:
    page = requests.get("https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start="+str(page)+"&ref_=adv_nxt")
    soup = BeautifulSoup(page.text,'html.parser')
    movie_list = soup.findAll('div',attrs = {'class':'lister-item mode-advanced'})
    sleep(randint(2,8))
    for store in movie_list:
        name = store.h3.a.text
        movie_name.append(name)
        
        year_of_release = store.h3.find('span',class_="lister-item-year text-muted unbold").text
        year.append(year_of_release)
        
        runtime = store.p.find('span',class_='runtime').text
        time.append(runtime)
        
        rates = store.find('div',class_='inline-block ratings-user-rating').text.replace('\n' ,'')
        rating.append(rates)
        
        meta = store.find('span',class_='metascore').text if store.find('span',class_='metascore') else '***'
        metascore.append(meta)
        
        value = store.find_all('span', attrs = {'name':'nv'})
        
        vote = value[0].text
        votes.append(vote)
        
        grosses = value[1].text if len(value)>1 else '%^%^%^'
        gross.append(grosses)

In [6]:
movie_list = pd.DataFrame({ "Movie Name": movie_name, "year of release": year, "watch time": time, "Movie Rating": rating, "MetaScore of Movies" : metascore, "Votes": votes, "Gross": gross})

In [7]:
movie_list

,Movie Name,year of release,watch time,Movie Rating,MetaScore of Movies,Votes,Gross
0,Jai Bhim,(2021),164 min,Rate this 123456789109.3/10X,***,"174,992",#139
1,The Shawshank Redemption,(1994),142 min,Rate this 123456789109.3/10X,80,"2,547,583",$28.34M
2,The Godfather,(1972),175 min,Rate this 123456789109.2/10X,100,"1,752,397",$134.97M
3,Soorarai Pottru,(2020),153 min,Rate this 123456789109.1/10X,***,"107,523",#248
4,The Dark Knight,(2008),152 min,Rate this 123456789109/10X,84,"2,497,947",$534.86M
...,...,...,...,...,...,...,...
995,Sabrina,(1954),113 min,Rate this 123456789107.6/10X,72,"63,424",%^%^%^
996,From Here to Eternity,(1953),118 min,Rate this 123456789107.6/10X,85,"46,068",$30.50M
997,Gilda,(1946),110 min,Rate this 123456789107.6/10X,***,"31,588",%^%^%^
998,Lifeboat,(1944),97 min,Rate this 123456789107.6/10X,78,"28,431",%^%^%^
999,The 39 Steps,(1935),86 min,Rate this 123456789107.6/10X,93,"55,765",%^%^%^

In [9]:
movie_list.to_excel('List of Top 1000 Movies from IMDb.xlsx')